@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  @apply bg-zinc-50 text-zinc-950 dark:bg-zinc-950 dark:text-zinc-50;
  margin: 0;
  min-height: 100vh;
}
